<launch>
    <node name="move_to_pose" pkg="elfin_manipulation" type="move_to_pose" output="screen">
    <rosparam command="load" file="$(find elfin10_moveit_config)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find elfin10_moveit_config)/config/ompl_planning.yaml"/>
    </node>
</launch>